In [7]:
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.2f' % x)
pd.options.display.max_columns = 2000

# Auxiliar functions

In [33]:
import pandas as pd
import numpy as np
import warnings


def value_counts(df, col, **kwargs):
    """Given a df and a column name return the `.value_counts()` for that column with
    their percentage in the same row."""

    vc = df[col].value_counts(**kwargs)
    vc1 = df[col].value_counts(1, **kwargs)

    new_vc = pd.Series([], index=[], dtype=np.dtype(object))
    for i, c in vc.iteritems():
        new_vc = new_vc.append(pd.Series(str(vc[i]) + ' ({:.3f}%)'.format(vc1[i]), index=[i]))

    return new_vc

# Get data

In [74]:
df = pd.read_csv('created_data/rj_dep_fed.csv', dtype={'despesa_maxima_campanha': float,
                                                        'idade_data_posse': float,
                                                        'numero_urna': int,
                                                        'numero_sequencial': int,
                                                        'numero_partido': int
                                                        })

In [75]:
df.head()

,ano_eleicao,nome,nome_urna,numero_sequencial,numero_urna,sigla_uf_nascimento,sigla_partido,tipo_agremiacao,descricao_cargo,despesa_maxima_campanha,idade_data_posse,descricao_cor_raca,descricao_estado_civil,descricao_genero,descricao_grau_instrucao,descricao_ocupacao,concorre_reeleicao,declara_bens,descricao_totalizacao_turno
0,2018,LUIZ JEQUITINHANHO DOS SANTOS SILVA,LUIZ JEQUITINHANHO,1022053935,3615,RJ,PTC,COLIGACAO,DEPUTADO FEDERAL,0.00,65.00,PARDA,CASADO(A),MASCULINO,SUPERIOR COMPLETO,SERVIDOR PUBLICO FEDERAL,N,S,NAO ELEITO
1,2018,ALEXANDRE DA SILVA MACABU,MACABU,1022046800,2036,RJ,PSC,COLIGACAO,DEPUTADO FEDERAL,0.00,46.00,PARDA,CASADO(A),MASCULINO,ENSINO FUNDAMENTAL COMPLETO,FISCAL,N,S,SUPLENTE
2,2018,JORGE LUIS DE ALMEIDA,TECO HORTAS,1022046850,9012,RJ,PROS,COLIGACAO,DEPUTADO FEDERAL,0.00,50.00,PARDA,SOLTEIRO(A),MASCULINO,ENSINO FUNDAMENTAL INCOMPLETO,OUTROS,N,N,NAO ELEITO
3,2018,ALTAISA DA SILVA TEIXEIRA,ALTAISA TEIXEIRA,1022053644,1708,RJ,PSL,PARTIDO ISOLADO,DEPUTADO FEDERAL,0.00,58.00,PARDA,CASADO(A),FEMININO,ENSINO MEDIO COMPLETO,DONA DE CASA,N,N,SUPLENTE
4,2018,ANDREIA ADRIANA BENTO DA SILVA,ANDREIA HADASSA,1022045004,3114,RJ,PHS,PARTIDO ISOLADO,DEPUTADO FEDERAL,0.00,48.00,PARDA,SOLTEIRO(A),FEMININO,LE E ESCREVE,OUTROS,N,N,NAO ELEITO

In [76]:
df.shape

(6158, 19)

# Explore

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6158 entries, 0 to 6157
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ano_eleicao                  6158 non-null   int64
 1   nome                         6158 non-null   object
 2   nome_urna                    6154 non-null   object
 3   numero_sequencial            6158 non-null   int32
 4   numero_urna                  6158 non-null   int32
 5   sigla_uf_nascimento          6119 non-null   object
 6   sigla_partido                6158 non-null   object
 7   tipo_agremiacao              3389 non-null   object
 8   descricao_cargo              6158 non-null   object
 9   despesa_maxima_campanha      6158 non-null   float64
 10  idade_data_posse             3389 non-null   float64
 11  descricao_cor_raca           3389 non-null   object
 12  descricao_estado_civil       6158 non-null   object
 13  descricao_genero             6158 non-null   object
 14  descricao_grau_instrucao     6158 non-null   object
 15  descricao_ocupacao           6158 non-null   object
 16  concorre_reeleicao           3389 non-null   object
 17  declara_bens                 3389 non-null   object
 18  descricao_totalizacao_turno  5749 non-null   object
dtypes: float64(2), int32(2), int64(1), object(14)
memory usage: 866.1+ KB

In [78]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ano_eleicao,6158.00,2011.54,6.57,1998.00,2006.00,2014.00,2018.00,2018.00
numero_sequencial,6158.00,716467236.08,467730745.36,-1.00,11587.25,1021441100.50,1022046803.75,1022069034.00
numero_urna,6158.00,3300.75,1871.04,1000.00,1741.75,2807.00,4490.75,9099.00
despesa_maxima_campanha,6158.00,1042301.26,1584612.04,-1.00,0.00,80000.00,1500000.00,9000000.00
idade_data_posse,3389.00,49.05,11.29,20.00,41.00,49.00,57.00,86.00

In [79]:
for col in df.columns:
    if df[col].dtype == object:
        print('\nColumn: ' + col)
        print(df[col].value_counts())

Column: nome
JOSE GUILHERME DE MORAES NETO           7
SIMAO SESSIM                            7
LUIZ SERGIO NOBREGA DE OLIVEIRA         7
FERNANDO LOPES DE ALMEIDA               7
RODRIGO FELINTO IBARRA EPITACIO MAIA    7
                                       ..
MOIZES ROCHA                            1
LUIZ CARLOS DE OLIVEIRA                 1
JARBAS SEVERINO OLIVEIRA                1
PAULO ALEXANDRE DA SILVA                1
JORGE JOSE DA SILVA                     1
Name: nome, Length: 4143, dtype: int64

Column: nome_urna
SIMAO SESSIM                7
RODRIGO MAIA                7
FERNANDO LOPES              7
LUIZ SERGIO                 7
LAURA CARNEIRO              7
                           ..
EDNA BARBOSA                1
ZAFF                        1
CIDA FIGUEIREDO             1
ENFERMEIRA ROSA BALLESTE    1
PROF AGNELO MAIA            1
Name: nome_urna, Length: 4287, dtype: int64

Column: sigla_uf_nascimento
RJ    5076
MG     195
SP     101
BA      91
PE      84
ES      68
PB      68
MA      63
CE      55
RS      52
PA      44
RN      38
AL      34
PR      29
AM      20
ZZ      17
PI      16
SE      15
DF      15
GO      12
SC      11
MS       7
AC       5
MT       2
RO       1
Name: sigla_uf_nascimento, dtype: int64

Column: sigla_partido
PDT              366
PT DO B          280
PSC              275
PRB              272
PHS              266
PSL              254
PRTB             251
PRP              248
PT               229
PV               223
PSB              212
PSDB             210
PSOL             207
PR               203
PSD              155
PMDB             153
PPS              148
PTB              141
PL               119
PRONA            118
PMN              117
PSDC             116
DEM              112
PTC              109
PPL              106
AVANTE            98
DC                98
PP                98
PFL               87
PC DO B           86
PPB               84
PODE              82
PMB               80
PATRI             70
SOLIDARIEDADE     68
PTN               64
PEN               57
MDB               44
SD                42
PAN               38
NOVO              38
PROS              37
REDE              30
PSTU              21
PCB               18
PCO                8
PGT                8
PSN                5
PRN                4
PST                3
Name: sigla_partido, dtype: int64

Column: tipo_agremiacao
COLIGACAO          2014
PARTIDO ISOLADO    1375
Name: tipo_agremiacao, dtype: int64

Column: descricao_cargo
DEPUTADO FEDERAL    6158
Name: descricao_cargo, dtype: int64

Column: descricao_cor_raca
BRANCA      1810
PARDA       1103
PRETA        468
AMARELA        5
INDIGENA       3
Name: descricao_cor_raca, dtype: int64

Column: descricao_estado_civil
CASADO(A)                    3495
SOLTEIRO(A)                  1609
DIVORCIADO(A)                 713
SEPARADO(A) JUDICIALMENTE     163
VIUVO(A)                      157
NAO INFORMADO                  21
Name: descricao_estado_civil, dtype: int64

Column: descricao_genero
MASCULINO        4573
FEMININO         1580
NAO INFORMADO       5
Name: descricao_genero, dtype: int64

Column: descricao_grau_instrucao
SUPERIOR COMPLETO                2926
ENSINO MEDIO COMPLETO            1557
SUPERIOR INCOMPLETO               684
ENSINO FUNDAMENTAL COMPLETO       335
ENSINO MEDIO INCOMPLETO           160
ENSINO FUNDAMENTAL INCOMPLETO     122
MEDIO COMPLETO                    113
2O GRAU COMPLETO                   69
FUNDAMENTAL COMPLETO               44
MEDIO INCOMPLETO                   25
1O GRAU COMPLETO                   24
LE E ESCREVE                       24
2O GRAU INCOMPLETO                 22
NAO INFORMADO                      21
FUNDAMENTAL INCOMPLETO             16
1O GRAU INCOMPLETO                 15
ANALFABETO                          1
Name: descricao_grau_instrucao, dtype: int64

Column: descricao_ocupacao
OUTROS                                               1064
ADVOGADO                                              529
EMPRESARIO                                            463
COMERCIANTE                                           287
MEDICO                                                181
                                                     ...
ENCANADOR, SOLDADOR, CHAPEADOR E CALDEIREIRO            1
ASTRONOMO                                               1
ARTESAO                                                 1
OPERADOR DE APARELHOS DE PRODUCAO INDUSTRIAL            1
TRABALHADOR EM ATIVIDADE DE PROCESSAMENTO QUIMICO       1
Name: descricao_ocupacao, Length: 207, dtype: int64

Column: concorre_reeleicao
N    3294
S      95
Name: concorre_reeleicao, dtype: int64

Column: declara_bens
N    1746
S    1643
Name: declara_bens, dtype: int64

Column: descricao_totalizacao_turno
SUPLENTE                                          4243
NAO ELEITO                                        1062
ELEITO                                             162
ELEITO POR QP                                      115
REGISTRO NEGADO ANTES DA ELEICAO                   110
ELEITO POR MEDIA                                    28
MEDIA                                               17
RENUNCIA/FALECIMENTO/CASSACAO ANTES DA ELEICAO       8
INDEFERIDO COM RECURSO                               2
RENUNCIA/FALECIMENTO/CASSACAO APOS A ELEICAO         1
REGISTRO NEGADO APOS A ELEICAO                       1
Name: descricao_totalizacao_turno, dtype: int64

## Columns analysis

In [36]:
value_counts(df, 'ano_eleicao')

2018    2308 (0.375%)
2014    1081 (0.176%)
2010     929 (0.151%)
2006     795 (0.129%)
2002     602 (0.098%)
1998     443 (0.072%)
dtype: object

The tendency is to have more candidates as the time passes.

Possible Transformations:
- Since this dataset changes over time, treat this as a time series problem

In [35]:
value_counts(df, 'sigla_uf_nascimento')

RJ    5076 (0.830%)
MG     195 (0.032%)
SP     101 (0.017%)
BA      91 (0.015%)
PE      84 (0.014%)
ES      68 (0.011%)
PB      68 (0.011%)
MA      63 (0.010%)
CE      55 (0.009%)
RS      52 (0.008%)
PA      44 (0.007%)
RN      38 (0.006%)
AL      34 (0.006%)
PR      29 (0.005%)
AM      20 (0.003%)
ZZ      17 (0.003%)
PI      16 (0.003%)
SE      15 (0.002%)
DF      15 (0.002%)
GO      12 (0.002%)
SC      11 (0.002%)
MS       7 (0.001%)
AC       5 (0.001%)
MT       2 (0.000%)
RO       1 (0.000%)
dtype: object

There are more people from RJ (as expected) but there is also a good amount of people from other places.

Possible Transformations:
- One hot encoding only in RJ
- One hot encoding on other locations based on the region (northeast, north, etc)

In [38]:
value_counts(df, 'sigla_partido').head(10)

PDT        366 (0.059%)
PT DO B    280 (0.045%)
PSC        275 (0.045%)
PRB        272 (0.044%)
PHS        266 (0.043%)
PSL        254 (0.041%)
PRTB       251 (0.041%)
PRP        248 (0.040%)
PT         229 (0.037%)
PV         223 (0.036%)
dtype: object

Possible Transformations:
- Since there are many parties, we can try to group them by left or right depending on their political positions
- We can also try to one hot encode only the top 10 and create a column for "other parties"

In [40]:
value_counts(df, 'tipo_agremiacao').head(10)

COLIGACAO          2014 (0.594%)
PARTIDO ISOLADO    1375 (0.406%)
dtype: object

Binary column.

Possible Transformations:
- Label encoding

In [44]:
df['despesa_maxima_campanha'].describe()

count      6158.00
mean    1042301.26
std     1584612.04
min          -1.00
25%           0.00
50%       80000.00
75%     1500000.00
max     9000000.00
Name: despesa_maxima_campanha, dtype: float64

In [47]:
value_counts(df, 'despesa_maxima_campanha').head(10)

0.00          2339 (0.380%)
-1.00          680 (0.110%)
2000000.00     473 (0.077%)
3000000.00     348 (0.057%)
500000.00      290 (0.047%)
1000000.00     285 (0.046%)
1500000.00     259 (0.042%)
5000000.00     198 (0.032%)
6000000.00     156 (0.025%)
800000.00      125 (0.020%)
dtype: object

Wonder that this -1 mean... Maybe people who didn't want to declare this value.

Possible Transformations:
- None. Use its raw value.

In [49]:
df['idade_data_posse'].describe()

count   3389.00
mean      49.05
std       11.29
min       20.00
25%       41.00
50%       49.00
75%       57.00
max       86.00
Name: idade_data_posse, dtype: float64

Possible Transformations:
- None. Use its raw value.

In [51]:
value_counts(df, 'descricao_cor_raca')

BRANCA      1810 (0.534%)
PARDA       1103 (0.325%)
PRETA        468 (0.138%)
AMARELA        5 (0.001%)
INDIGENA       3 (0.001%)
dtype: object

Possible Transformations:
- One hot encode

In [52]:
value_counts(df, 'descricao_estado_civil')

CASADO(A)                    3495 (0.568%)
SOLTEIRO(A)                  1609 (0.261%)
DIVORCIADO(A)                 713 (0.116%)
SEPARADO(A) JUDICIALMENTE     163 (0.026%)
VIUVO(A)                      157 (0.025%)
NAO INFORMADO                  21 (0.003%)
dtype: object

Possible Transformations:
- One hot encode

In [53]:
value_counts(df, 'descricao_genero')

MASCULINO        4573 (0.743%)
FEMININO         1580 (0.257%)
NAO INFORMADO       5 (0.001%)
dtype: object

Possible Transformations:
- Label encoding

In [54]:
value_counts(df, 'descricao_grau_instrucao')

SUPERIOR COMPLETO                2926 (0.475%)
ENSINO MEDIO COMPLETO            1557 (0.253%)
SUPERIOR INCOMPLETO               684 (0.111%)
ENSINO FUNDAMENTAL COMPLETO       335 (0.054%)
ENSINO MEDIO INCOMPLETO           160 (0.026%)
ENSINO FUNDAMENTAL INCOMPLETO     122 (0.020%)
MEDIO COMPLETO                    113 (0.018%)
2O GRAU COMPLETO                   69 (0.011%)
FUNDAMENTAL COMPLETO               44 (0.007%)
MEDIO INCOMPLETO                   25 (0.004%)
1O GRAU COMPLETO                   24 (0.004%)
LE E ESCREVE                       24 (0.004%)
2O GRAU INCOMPLETO                 22 (0.004%)
NAO INFORMADO                      21 (0.003%)
FUNDAMENTAL INCOMPLETO             16 (0.003%)
1O GRAU INCOMPLETO                 15 (0.002%)
ANALFABETO                          1 (0.000%)
dtype: object

Possible Transformations:
- One hot encode

In [56]:
value_counts(df, 'descricao_ocupacao')

OUTROS                                               1064 (0.173%)
ADVOGADO                                              529 (0.086%)
EMPRESARIO                                            463 (0.075%)
COMERCIANTE                                           287 (0.047%)
MEDICO                                                181 (0.029%)
                                                         ...
ENCANADOR, SOLDADOR, CHAPEADOR E CALDEIREIRO            1 (0.000%)
ASTRONOMO                                               1 (0.000%)
ARTESAO                                                 1 (0.000%)
OPERADOR DE APARELHOS DE PRODUCAO INDUSTRIAL            1 (0.000%)
TRABALHADOR EM ATIVIDADE DE PROCESSAMENTO QUIMICO       1 (0.000%)
Length: 207, dtype: object

In [58]:
value_counts(df, 'descricao_ocupacao')

OUTROS                                               1064 (0.173%)
ADVOGADO                                              529 (0.086%)
EMPRESARIO                                            463 (0.075%)
COMERCIANTE                                           287 (0.047%)
MEDICO                                                181 (0.029%)
                                                         ...
ENCANADOR, SOLDADOR, CHAPEADOR E CALDEIREIRO            1 (0.000%)
ASTRONOMO                                               1 (0.000%)
ARTESAO                                                 1 (0.000%)
OPERADOR DE APARELHOS DE PRODUCAO INDUSTRIAL            1 (0.000%)
TRABALHADOR EM ATIVIDADE DE PROCESSAMENTO QUIMICO       1 (0.000%)
Length: 207, dtype: object

Possible Transformations:
- Maybe use NLP

In [59]:
value_counts(df, 'concorre_reeleicao')

N    3294 (0.972%)
S      95 (0.028%)
dtype: object

Possible Transformations:
- Label encoding

In [60]:
value_counts(df, 'declara_bens')

N    1746 (0.515%)
S    1643 (0.485%)
dtype: object

Possible Transformations:
- Label encoding

In [70]:
value_counts(df, 'descricao_totalizacao_turno')

SUPLENTE                                          4243 (0.738%)
NAO ELEITO                                        1062 (0.185%)
ELEITO                                             162 (0.028%)
ELEITO POR QP                                      115 (0.020%)
REGISTRO NEGADO ANTES DA ELEICAO                   110 (0.019%)
ELEITO POR MEDIA                                    28 (0.005%)
MEDIA                                               17 (0.003%)
RENUNCIA/FALECIMENTO/CASSACAO ANTES DA ELEICAO       8 (0.001%)
INDEFERIDO COM RECURSO                               2 (0.000%)
RENUNCIA/FALECIMENTO/CASSACAO APOS A ELEICAO         1 (0.000%)
REGISTRO NEGADO APOS A ELEICAO                       1 (0.000%)
dtype: object

LABEL!

Possible Transformations:
- Group these by Elected or Not and do label encoding

In [27]:
df.columns

Index(['ano_eleicao', 'nome', 'nome_urna', 'numero_sequencial', 'numero_urna',
       'sigla_uf_nascimento', 'sigla_partido', 'numero_partido',
       'tipo_agremiacao', 'descricao_cargo', 'despesa_maxima_campanha',
       'idade_data_posse', 'descricao_cor_raca', 'descricao_estado_civil',
       'descricao_genero', 'descricao_grau_instrucao',
       'descricao_nacionalidade', 'descricao_ocupacao', 'concorre_reeleicao',
       'declara_bens', 'descricao_totalizacao_turno'],
      dtype='object')